<!--Book List-->
<div style="text-align:center">
    <h1>
          List of items in your cart
    </h1>
</div>

 <!--Book List-->
 <br/>
 <div id="BooksList" class="container">
   <div class="row">
     <div class="col-md-3" id="item" *ngFor="let book of booksOnCart; index as ndx">
       <div class="card" id="card_style">
         <img class="card-img-top" src="../assets/images/harry_potter.jpg" alt="book image">
         <!-- <div class="card-img-top" id="bookimage"></div> -->
         <div class="card-body">
             <h6 class="card-title">{{book.title}} <span id="rupee"><sup>&#8377;</sup></span><span id="price">{{book.price}}</span></h6>
             <div class="card-text">
                <div id="description">
                   <span>Author:</span><span id="author_name">{{book.authors}}</span>
                </div>
                <div id="rating">
                   <!-- {{book.isbn}}          -->
                   <span class="stars">
                     <span [ngStyle]="{'width':(book.average_rating)/5 * 100 + '%'}"></span>
                   </span>
                </div>
             </div>
           </div>
           <div class="card-footer">
              <div class="row">
                 <div class="col" style="text-align: center">
                     <i class="fa fa-book" aria-hidden="true"></i>
                     <br>
                     <span>{{book.ratings_count}}</span>
                 </div>
                 <div class="col">
                     <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ViewCart" (click)="buy(book)">Buy Now</a>
                 </div>
              </div>
           </div>         
       </div>
          
        
     </div>
   </div>
 </div>
